.vs/BlazorAzureB2C/DesignTimeBuild/.dtbcache.v2
.vs/BlazorAzureB2C/v16/.suo
.vs/BlazorAzureB2C/v17/.suo
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/Azure.Core.dll
bin/Debug/net6.0/Azure.Identity.dll
bin/Debug/net6.0/Azure.Security.KeyVault.Certificates.dll
bin/Debug/net6.0/Azure.Security.KeyVault.Secrets.dll
bin/Debug/net6.0/BlazorAzureB2C.deps.json
bin/Debug/net6.0/BlazorAzureB2C.dll
bin/Debug/net6.0/BlazorAzureB2C.exe
bin/Debug/net6.0/BlazorAzureB2C.pdb
bin/Debug/net6.0/BlazorAzureB2C.runtimeconfig.json
bin/Debug/net6.0/BlazorAzureB2C.staticwebassets.runtime.json
bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net6.0/Microsoft.Identity.Client.dll
bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
bin/Debug/net6.0/Microsoft.Identity.Web.dll
bin/Debug/net6.0/Microsoft.Identity.Web.UI.dll
bin/Debug/net6.0/Microsoft.Identity.Web.UI.Views.dll
bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/ref/BlazorAzureB2C.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
obj/BlazorAzureB2C.csproj.nuget.dgspec.json
obj/BlazorAzureB2C.csproj.nuget.g.props
obj/BlazorAzureB2C.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/BlazorAzureB2C.AssemblyInfo.cs
obj/Debug/net6.0/BlazorAzureB2C.AssemblyInfoInputs.cache
obj/Debug/net6.0/BlazorAzureB2C.assets.cache
obj/Debug/net6.0/BlazorAzureB2C.csproj.AssemblyReference.cache
obj/Debug/net6.0/BlazorAzureB2C.csproj.CopyComplete
obj/Debug/net6.0/BlazorAzureB2C.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/BlazorAzureB2C.csproj.FileListAbsolute.txt
obj/Debug/net6.0/BlazorAzureB2C.dll
obj/Debug/net6.0/BlazorAzureB2C.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/BlazorAzureB2C.genruntimeconfig.cache
obj/Debug/net6.0/BlazorAzureB2C.GlobalUsings.g.cs
obj/Debug/net6.0/BlazorAzureB2C.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/BlazorAzureB2C.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/BlazorAzureB2C.pdb
obj/Debug/net6.0/BlazorAzureB2C.RazorAssemblyInfo.cache
obj/Debug/net6.0/BlazorAzureB2C.RazorAssemblyInfo.cs
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/ref/BlazorAzureB2C.dll
obj/Debug/net6.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
obj/Debug/net6.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
obj/Debug/net6.0/scopedcss/bundle/BlazorAzureB2C.styles.css
obj/Debug/net6.0/scopedcss/projectbundle/BlazorAzureB2C.bundle.scp.css
